<tr>
    <td>
        <span>
            {{ not purchase.sent ? '--' : purchase.sendDate | date('d/m/Y') }}
        </span>
    </td>
    <td>
        <span>
            {{ purchase.creationDate | date('d/m/Y') }}
        </span>
    </td>
    <td>
        <span>
            <a href="{{ path('atm_ot_historical',{ 'userId' : purchase.user.id }) }}">{{ purchase.user.username | title }}</a>
        </span>
    </td>
    <td>
        {% if purchase.giftedTo %}
        <span>
            <a href="{{ path('atm_ot_gift_historical',{'giftedTo': purchase.giftedTo.id}) }}">
                {{ purchase.giftedTo.username | title }}
            </a>
        </span>
        {% else %}
            --
        {% endif %}
    </td>
    <td>
        <span>
            {{ purchase.total | number_format }}
        </span>
    </td>
    <td class="controls">
        <a class="see_purchase" data-purchase-id="{{ purchase.id }}" title="See Purchase"><i class="fa fa-eye"></i></a>
        {% if not purchase.sent %}
            <a class="set_as_sent" title="Set as sent today" data-purchase-id="{{ purchase.id }}"><i class="fa fa-check"></i></a>
        {% elseif purchase.image %}
            <a href="{{ asset(purchase.image.path) }}" target="_blank" title="See picture"><i class="fa fa-picture-o"></i></a>
        {% endif %}
    </td>
</tr>