{% extends 'ATMOrderTrackerBundle:Admin:base.html.twig' %}

{% block atm_ot_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmordertracker/css/jquery-ui.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmordertracker/css/jquery-ui.theme.min.css') }}" type="text/css"/>
    <style>
        .ui-state-default{width: 100% !important;text-align: center !important;}
    </style>
{% endblock atm_ot_stylesheets %}

{% block atm_ot_content %}
    <form action="{{ path('atm_ot_edit_product',{'productId':product.id}) }}" method="post" id="frmProduct" enctype="multipart/form-data">
        <h1>Edit Product: {{ product.name }}</h1>
        <div class="wide">
            <fieldset class="half" style="float: none;margin-left: 50%;transform: translateX(-50%);">
                {{ form_widget(form.name) }}
            </fieldset>
            <fieldset class="half" style="float: none;margin-left: 50%;transform: translateX(-50%);">
                {{ form_widget(form.price) }}
            </fieldset>
            <fieldset class="half" style="float: none;margin-left: 50%;transform: translateX(-50%);">
                {{ form_widget(form.tokens) }}
            </fieldset>
            <fieldset class="half" style="float: none;margin-left: 50%;transform: translateX(-50%);">
                {{ form_widget(form.description,{ 'attr':{'style':'border: 1px solid #acacac;resize:vertical','placeholder':'description'} }) }}
            </fieldset>
            <fieldset class="half" style="float: none;margin-left: 50%;transform: translateX(-50%);">
                {{ form_widget(form.init_date) }}
            </fieldset>
            <fieldset class="half" style="float: none;margin-left: 50%;transform: translateX(-50%);">
                {{ form_widget(form.end_date) }}
            </fieldset>
            <fieldset class="half sizes" style="float: none;margin-left: 50%;transform: translateX(-50%);">
                <legend>Sizes</legend>
                {% for t in form.sizes %}
                    <label>{{ form_widget(t) }}{{ t.vars.label }}</label>
                {% endfor %}
            </fieldset>
        </div>
        <div class="clear"></div>

        <div class="wide" style="margin-top: 25px;">
            <fieldset style="width: 45%;float:left">
                <legend style="width: 100%;text-align: center">Front</legend>
                <img src="{{ asset(arrImages.front.path) }}" id="imgPreviewFront" style="margin: 0 auto;float: none;max-width: 100%;">
                <input type="file" name="flImageFront" id="flImageFront" style="width: 60%;">
            </fieldset>
            {% if arrImages.back is defined %}
            <fieldset style="width: 45%;float:left;margin-left: 5%;">
                <legend style="width: 100%;text-align: center">Back</legend>
                <img src="{{ asset(arrImages.back.path) }}" id="imgPreviewBack" style="margin: 0 auto;float: none;max-width: 100%;">
                <input type="file" name="flImageBack" id="flImageBack" style="width: 60%;">
            </fieldset>
            {% endif %}
        </div>
        <div class="clear"></div>
        <input type="submit" class="but blue" value="Save">
        {{ form_rest(form) }}
    </form>
{% endblock atm_ot_content %}

{% block atm_ot_javascripts %}
    <script src="{{ asset('bundles/atmordertracker/js/jquery-ui.min.1121.js') }}"></script>
    <script>
        $( function() {
            var dateFormat = "dd/mm/yy",
                from = $( "#product_init_date" )
                    .datepicker({
                        dateFormat: dateFormat,
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 3
                    }).on( "change", function() {
                        to.datepicker( "option", "minDate", getDate( this ) );
                    }),
                to = $( "#product_end_date" ).datepicker({
                    dateFormat: dateFormat,
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3
                }).on( "change", function() {
                    from.datepicker( "option", "maxDate", getDate( this ) );
                });

            function getDate( element ) {
                var date;
                try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                } catch( error ) {
                    date = null;
                }

                return date;
            }
        } );

        $('#flImageFront').on('change', function() {
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                $('#imgPreviewFront').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });

        $('#flImageBack').on('change', function() {
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                $('#imgPreviewBack').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });
    </script>
{% endblock atm_ot_javascripts %}