{% extends 'ATMOrderTrackerBundle:Admin:base.html.twig' %}

{% block atm_ot_content %}
    <h1 class="title">Products</h1>
    <div class="clear"></div>
    <div class="products" id="products">
        {% for product in products %}
            {% include 'ATMOrderTrackerBundle:Product:item/product.html.twig' with { 'product':product } %}
        {% endfor %}
        {% if pagination %}
            <div class="clear"></div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="clear"></div>
        {% endif %}
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock atm_ot_content %}

{% block atm_ot_javascripts %}
    <script src="{{ asset('bundles/atmordertracker/js/jquery-ui.min.1121.js') }}"></script>
    <script>

        $('#products').sortable({
            revert: true,
            stop: function(){
                let positions = {};
                let position = 1;
                $('.product').each(function(){
                    var productId = $(this).attr('data-id');
                    positions[productId] = position;
                    position ++;
                });

                $.ajax({
                    url: Routing.generate('atm_ot_save_product_positions',{ 'positions': JSON.stringify(positions)}),
                    type:'post',
                    success: function(data){
                        $('#products').attr('style', 'background-color:#5ec56d70;');
                        setTimeout(function(){
                            $('#products').attr('style', '');
                        },2500);
                    }
                });
            }
        });
        $('#products').disableSelection();
    </script>
{% endblock atm_ot_javascripts %}