{% extends 'ATMOrderTrackerBundle:Admin:base.html.twig' %}

{% block atm_ot_content %}
<form action="{{ path('atm_ot_stock',{'productId':product.id}) }}" method="post">
    <h1>Set stock for {{ product.name }}</h1>
    {% for size in product.sizes %}
        <fieldset>
            <legend>Stock for size {{ size.name }}</legend>
            {% set amount = 0 %}
            {% for stock in stocks %}
                {% if stock.size.id == size.id %}
                    {% set amount = stock.stock %}
                {% endif %}
            {% endfor %}
            <input type="text" name="stock[{{ size.id }}]" value="{{ amount }}">
        </fieldset>
    {% endfor %}
    <input type="submit" class="but blue" value="Save">
</form>
{% endblock atm_ot_content %}