{% if app.session.has('user_purchases_points') %}
    {% set userPurchasesPoints = app.session.get('user_purchases_points') %}
    {% set pointsToSpend = userPurchasesPoints['points_to_spend'] %}
    {% set pointsSpent = userPurchasesPoints['points_spent'] %}
{% else %}
    {% set pointsToSpend = points %}
    {% set pointsSpent = 0 %}
{% endif %}

<div class="modal fade" id="popDoPurchase" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header" style="margin-bottom: 50px;">
                <h1 style="font-weight: bold;">Select the products you want to purchase</h1>
                <a class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </a>
            </div>
            <span class="spend_points">Points to spend: <em id="user_points">{{ pointsToSpend }}</em></span>
            <span class="spent_points">Points spent: <em id="user_spent">{{ pointsSpent }}</em></span>
            <span id="error_message" style="display:none;color:#fb0000"></span>
            <div class="modal-body">
                <div class="first_step">
                    <div class="product_container">
                        {% include 'ATMOrderTrackerBundle:Purchase:products_list.html.twig' with {
                            'products': products,
                            'pagination': pagination,
                            'points': points,
                            'minimum_points' :minimum_points
                        } %}
                        <div class="clear"></div>
                    </div>
                    <a class="but next_step" style="display: inline-block;float: none;width: auto;">Next ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#popDoPurchase .modal-body').on('click','.navigation .pageBtn',function(){
        var page = $(this ).attr('data-page');

        $.ajax({
            url: Routing.generate('atm_ot_product_purchase_page',{'max_results':{{ max_results }}, 'page':page }),
            type: 'post',
            dataType: 'html',
            success: function(data){
                $('.product_container').html(data);
            }
        });
    });


    var userPoints = {{ pointsToSpend }};
    var userSpent = {{ pointsSpent }};

    $('#popDoPurchase .modal-body').on('click','.data .btn_selproduct',function(){
        var button = $(this);
        var productId = button.attr('data-product-id');
        var parent = $('#product_'+productId);
        var price = parseFloat(parent.find('.product_price').html());

        if(parent.hasClass('selected')){
            button.html('Purchase');
            parent.removeClass('selected');
            parent.find('.size').attr('checked',false);
            userSpent -= price;
            userPoints += price;
            $('#user_spent').html(userSpent);
            $('#user_points').html(userPoints);
            $.post(Routing.generate('atm_ot_store_purchase',{ 'productId':productId,'sizeId':null,'pointsToSpend':userPoints,'pointsSpent':userSpent}),function(data){});
        }else{
            if(userPoints - price >= 0){
                var sizes = parent.find('.sizes');
                var checked;
                if(sizes.length > 0){
                    checked = false;
                    var sizeId = null;
                    sizes.find('.size').each(function(){
                        if($(this).is(':checked')){
                            checked = true;
                            sizeId = $(this).attr('data-id');
                        }
                    });

                    if(!checked){
                        sizes.css('border','1px solid #da2e2e');
                    }else{
                        sizes.css('border','none')
                    }
                }

                if(sizes.length == 0 || checked){
                    button.html('Remove');
                    parent.addClass('selected');
                    userSpent += price;
                    userPoints -= price;
                    $('#user_spent').html(userSpent);
                    $('#user_points').html(userPoints);

                    $.post(Routing.generate('atm_ot_store_purchase',{ 'productId':productId,'sizeId':sizeId,'pointsToSpend':userPoints,'pointsSpent':userSpent}),function(data){});
                }
            }else{
                $('#error_message').fadeIn(500,function(){
                    $(this).html('You don\'t have enough points to purchase this item.')
                    $(this).delay(5000).fadeOut(500);
                });
            }
        }
    });
</script>