{% for product in products %}
    {% include 'ATMOrderTrackerBundle:Purchase/item:product.html.twig' with { 'product':product,'points': points,'minimum_points' :minimum_points } %}
{% endfor %}
{% if pagination is not null %}
    <div class="navigation">
        {{ knp_pagination_render(pagination,'ATMOrderTrackerBundle:Purchase:pagination.html.twig') }}
    </div>
{% endif %}