{% extends 'ATMOrderTrackerBundle:Admin:base.html.twig' %}

{% block atm_ot_menu %}{% endblock atm_ot_menu %}

{% block atm_ot_content %}
    <div class="half left">
        <table id="tblPurchase">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Size</th>
                    <th>Price</th>
                </tr>
            </thead>
            {% set total = 0 %}
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>
                            {% for size in product.sizes %}
                                {% if size.id == purchasedProducts[product.id] %}
                                    {{ size.name }}
                                {% endif %}
                            {% else %}
                                --
                            {% endfor %}
                        </td>
                        <td>{{ product.price }}</td>
                    </tr>
                    {% set total = total + product.price %}
                {% endfor %}
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <span>Total:</span>
                    </td>
                    <td style="text-align: center;">
                        {{ total }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="half left">
        <form action="{{ path('atm_ot_do_purchase') }}" method="post">
            <fieldset>
                {{ form_widget(purchase_form.first_name) }}
            </fieldset>
            <fieldset>
                {{ form_widget(purchase_form.last_name) }}
            </fieldset>
            <fieldset>
                {{ form_widget(purchase_form.email,{ 'attr':{ 'value':app.user.email } }) }}
            </fieldset>
            <fieldset>
                {{ form_widget(purchase_form.address) }}
            </fieldset>
            <fieldset>
                {{ form_widget(purchase_form.city) }}
            </fieldset>
            <fieldset>
                {{ form_widget(purchase_form.state) }}
            </fieldset>
            <fieldset>
                {{ form_widget(purchase_form.zipCode) }}
            </fieldset>
            <fieldset>
                <div class="selectC" style="width: 100%;">
                    {{ form_widget(purchase_form.country,{ 'attr':{ 'style':'width:100%' } }) }}
                </div>
            </fieldset>
            <fieldset>
                {{ form_widget(purchase_form.phoneNumber) }}
            </fieldset>

            <fieldset>
                {{ form_widget(purchase_form.delivery_instructions) }}
            </fieldset>
            {{ form_rest(purchase_form) }}
            <input type="submit" id="sb_purchase" style="display: none;">
            <a class="but blue" onclick="$('#sb_purchase').click();">Purchase</a>
        </form>
    </div>
{% endblock atm_ot_content %}

{% block atm_ot_javascripts %}
    <script>
        $('#purchase_country').change(function(){
            var countryId = $(this).val();

            $.post(Routing.generate('atm_ot_country_code',{ 'countryId':countryId}),function(data){
                var phone = $('#purchase_phoneNumber').val();
                var tokens = phone.split(' - ');
                $('#purchase_phoneNumber').val(data + ' - ' + (tokens[1] == undefined ? phone : tokens[1]));
            });
        });
    </script>
{% endblock atm_ot_javascripts %}