<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Order Tracker Bundle</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Distribution" content="Global" />
        <meta name="Rating" content="Mature" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('bundles/atmordertracker/fonts/lato.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmordertracker/fonts/quicksand.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmordertracker/fonts/leaguespartan.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmordertracker/css/font-awesome/css/font-awesome.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmordertracker/plugins/bootstrap/modal/modal.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmordertracker/css/jquery-ui.css') }}">
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <link href="{{ asset('bundles/atmordertracker/css/css.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/atmordertracker/js/jquery-1112.js') }}"></script>
        {% block atm_ot_stylesheets %}{% endblock atm_ot_stylesheets %}
        {% block atm_ot_headingJS %}{% endblock atm_ot_headingJS %}
    </head>
    <body class="atm_order_tracker">
        <div class="inner body">
            {% block atm_ot_menu %}
            <div class="menu">
                <ul>
                    {% set dates = getDateByRangeName('current_month') %}
                    <li><a href="{{ path('atm_ot_index',{ 'initDate':dates.initDate,'endDate':dates.endDate }) }}">Order Tracker Admin</a></li>
                    <li><a href="{{ path('atm_ot_create_product') }}">Create Product</a></li>
                    <li><a href="{{ path('atm_ot_product_list') }}">Products List</a></li>
                    <li><a href="{{ path('atm_ot_list_shipping_addresses') }}">Shipping Addresses</a></li>
                    <li><a href="{{ path('atm_ot_manage_countries') }}">Manage Countries</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            {% endblock atm_ot_menu %}
            {% block atm_ot_content %}{% endblock atm_ot_content %}
        </div>
        {% block atm_ot_popups %}
            <div class="modal fade" id="popPurchaseDetails" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 style="font-weight: bold;">Purchase Details</h1>
                            <a class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </a>
                        </div>
                        <div class="modal-body" id="purchase_details_container"></div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="popPurchaseSent" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 style="font-weight: bold;">Upload a picture for the purchase</h1>
                            <a class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </a>
                        </div>
                        <form action="" method="post" enctype="multipart/form-data" id="frmPurchaseSent">
                            <img src="{{ asset('bundles/atmordertracker/images/image-placeholder.png') }}" id="imgPurchasePreview">
                            <input type="file" name="purchaseImage" id="purchaseImage">
                            <input type="hidden" name="url" id="txRedirectUrl"><br>
                            <input type="text" id="txSendDate" name="txSendDate" autocomplete="off" style="margin-top: 20px;">
                            <input type="submit" class="but blue" value="Upload">
                        </form>
                    </div>
                </div>
            </div>
        {% endblock atm_ot_popups %}

        {% block atm_ot_javascripts %}
            <script src="{{ asset('bundles/atmordertracker/plugins/bootstrap/modal/modal.js') }}"></script>
            <script src="{{ asset('bundles/atmordertracker/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
            <script src="{{ asset('bundles/atmordertracker/js/jquery-ui.min.1121.js') }}"></script>
            <script>
                $('#txSendDate').datepicker({
                    dateFormat: 'dd-mm-yy'
                });
                $('#slcPurchasesType').change(function(){
                    var url = $(this).val();
                    location.href = url;
                });

                $('#btnSearchRange').click(function(){
                    var initYear = $('#initYear').val();
                    var initMonth = $('#initMonth option:selected').val();
                    var initDate = initYear + '-' + initMonth + '-01';

                    var endYear = $('#endYear').val();
                    var endMonth = $('#endMonth option:selected').val();
                    var endDays = $('#endMonth option:selected').attr('data-days');
                    var endDate = endYear + '-' + endMonth + '-' + endDays;

                    window.location.href= Routing.generate('atm_ot_index',{ 'initDate':initDate, 'endDate':endDate, 'sent':{{ sent is defined ? sent : 0  }} });
                });

                $('.see_purchase').click(function(){
                    var purchaseId = $(this).attr('data-purchase-id');

                    $.ajax({
                        url: Routing.generate('atm_ot_purchase_details',{ 'purchaseId':purchaseId }),
                        type: 'post',
                        dataType: 'html',
                        success: function(data){
                            $('#purchase_details_container').html(data);
                            $('#popPurchaseDetails').modal('show');
                        }
                    });
                });

                $('#purchaseImage').on('change', function() {
                    var currentInput = $(this);
                    var file = currentInput[0].files[0];

                    var reader = new FileReader();
                    reader.onload = function(e){
                        $('#imgPurchasePreview').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(file);
                });


            </script>
        {% endblock atm_ot_javascripts %}
    </body>
</html>