{% extends 'ATMOrderTrackerBundle:Admin:base.html.twig'%}


{% block atm_ot_content %}
    <div class="wide" style="display:block">
        <form action="{{ path('atm_ot_edit_shipping_address',{'shippingAddressId':shippingAddressId}) }}" method="post">
            <fieldset>
                {{ form_widget(form.first_name) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.last_name) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.email) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.address) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.city) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.state) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.zipCode) }}
            </fieldset>
            <fieldset>
                <div class="selectC" style="width: 100%;">
                    {{ form_widget(form.country,{ 'attr':{ 'style':'width:100%' } }) }}
                </div>
            </fieldset>
            <fieldset>
                {{ form_widget(form.phone) }}
            </fieldset>

            <fieldset>
                {{ form_widget(form.delivery_instructions) }}
            </fieldset>
            {{ form_rest(form) }}
            <input type="submit" id="_sb_shipping_address" style="display: none;">
            <a class="but blue" onclick="$('#_sb_shipping_address').click();">Save</a>
        </form>
    </div>
{% endblock %}