<div class="wide datePicker">
    <div class="half">
        Select a period of time
        <div class="clear"></div>
        {% set currentMonthDates = getDateByRangeName('current_month') %}
        <a class="butPeriod but blue" href="{{ path('atm_ot_index',{ 'initDate':currentMonthDates.initDate,'endDate':currentMonthDates.endDate,'sent':sent,'onlyGifts': onlyGifts }) }}">This Month</a>
        {% set lastMonthDates = getDateByRangeName('last_month') %}
        <a class="butPeriod but blue" href="{{ path('atm_ot_index',{ 'initDate':lastMonthDates.initDate,'endDate':lastMonthDates.endDate,'sent':sent,'onlyGifts': onlyGifts }) }}">Last Month</a>
        {% set lastYearDates = getDateByRangeName('current_year') %}
        <a class="butPeriod but blue" href="{{ path('atm_ot_index',{ 'initDate':lastYearDates.initDate,'endDate':lastYearDates.endDate,'sent':sent,'onlyGifts': onlyGifts }) }}">This Year</a>
    </div>
    <div class="half">
        <div class="half">
            From this date
            <div class="clear"></div>
            <div class="selectC">
                <select placeholder="Year" id="initYear">
                    {% for year in yearsFilter %}
                        {% set selected = '' %}
                        {% if year == initDateTokens[0] %}
                            {% set selected = 'selected="selected"' %}
                        {% endif %}
                        <option {{ selected | raw }} value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            {% set months = ['January','February','March','April','May','June','July','August','September','October','November','December'] %}
            {% set monthsNumbers = ['01','02','03','04','05','06','07','08','09','10','11','12'] %}
            <div class="selectC">
                <select placeholder="Month" id="initMonth">
                    {% for month in months %}
                        {% set selected = '' %}
                        {% if monthsNumbers[loop.index0] == initDateTokens[1] %}
                            {% set selected = 'selected="selected"' %}
                        {% endif %}
                        <option {{ selected | raw }} value="{{ monthsNumbers[loop.index0] }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="half">
            To this date
            <div class="clear"></div>
            <div class="selectC">
                <select placeholder="Year" id="endYear">
                    {% for year in yearsFilter %}
                        {% set selected = '' %}
                        {% if year == initDateTokens[0] %}
                            {% set selected = 'selected="selected"' %}
                        {% endif %}
                        <option {{ selected | raw }} value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            {% set monthsNumberDays = ['31','28','31','30','31','30','31','31','30','31','30','31'] %}
            <div class="selectC">
                <select placeholder="Month" id="endMonth">
                    {% for month in months %}
                        {% set selected = '' %}
                        {% if monthsNumbers[loop.index0] == endDateTokens[1] %}
                            {% set selected = 'selected="selected"' %}
                        {% endif %}
                        <option {{ selected | raw }} data-days="{{ monthsNumberDays[loop.index0] }}" value="{{ monthsNumbers[loop.index0] }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="wide centerBut"><a class="but blue" id="btnSearchRange">Search</a></div>
    </div>
    <div class="clear"></div>
</div>
<div class="wide">
    <h2 class="block_title statsTitle">
        <div>
            <em class="small">From:</em>
            <div class="clear"></div>
            {{ initPeriod | date('d-m-Y') }}
        </div>
        <div>
            <em class="small">To:</em>
            <div class="clear"></div>
            {{ endPeriod | date('d-m-Y') }}
        </div>
        {% if users is defined %}
            <div class="flex usersSelect" style="margin-top: 13px;float: right;font-weight: normal;">
                <span>Historical of:</span>
                <div class="selectC" style="">
                    <select id="slcHistorical" onchange="location.href = Routing.generate('atm_ot_historical',{ 'userId':$(this).val() })">
                        <option value="--">--</option>
                        {% for user in users %}
                            {% set selected = '' %}
                            {% if userId is defined and userId == user.id %}
                                {% set selected = 'selected=selected' %}
                            {% endif %}
                            <option value="{{ user.id }}" {{ selected | raw }}>{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
        <div class="flex" style="margin: 18px 0 0 33px;float: left;font-weight: normal;">
            <label>
                <input type="checkbox" id="_chk_gifts" {{ onlyGifts == 1 ? 'checked' }}>
                Show only gifts
            </label>
        </div>
        <div class="flex usersSelect" style="margin-top: 13px;float: right;font-weight: normal;margin-right: 20px;">
            <span>Showing: </span>
            <div class="selectC" style="">
                <select id="slcPurchasesType">
                    <option value="{{ path('atm_ot_index', { 'initDate': initDate ,'endDate': endDate,'sent': 1,'onlyGifts': onlyGifts }) }}" {{ sent ? 'selected="selected"' }}>Sent purchases</option>
                    <option value="{{ path('atm_ot_index', { 'initDate': initDate ,'endDate': endDate,'sent': 0,'onlyGifts': onlyGifts }) }}" {{ not sent ? 'selected="selected"' }}>Pending purchases</option>
                </select>
            </div>
        </div>
    </h2>
    <div class="clear"></div>
</div>