{% extends 'ATMOrderTrackerBundle:Admin:base.html.twig'%}

{% block atm_ot_content %}
    {% include 'ATMOrderTrackerBundle:Admin:filters.html.twig' with {
        'initDateTokens':initDateTokens,
        'endDateTokens':endDateTokens,
        'yearsFilter':yearsFilter,
        'initPeriod':initPeriod,
        'endPeriod':endPeriod,
        'sent' : sent,
        'onlyGifts': onlyGifts
    } %}
    <div class="wide" style="display:block">
        <div class="stats">
            <div id="purchasesContainer">
                {{ render(controller('ATMOrderTrackerBundle:Admin:searchPurchases',{
                    'initDate' : initDate,
                    'endDate' : endDate,
                    'sent': sent,
                    'onlyGifts': onlyGifts == 1 ? true:false,
                    'page': page
                })) }}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock atm_ot_content %}

{% block atm_ot_javascripts %}
    {{ parent() }}
    <script>
        $('.set_as_sent').click(function(){
            var purchaseId = $(this).attr('data-purchase-id');

            $('#frmPurchaseSent').attr('action',Routing.generate('atm_ot_purchase_set_send',{ 'purchaseId':purchaseId }));
            $('#txRedirectUrl').val(Routing.generate('atm_ot_index',{ 'initDate':'{{ initDate }}','endDate':'{{ endDate }}','sent':{{ sent }},'page':{{ page }}, 'onlyGifts': {{ onlyGifts }} }));
            $('#popPurchaseSent').modal('show');
        });

        $('#_chk_gifts').change(function(){
            let onlyGifts = $(this).is(':checked') ? 1 : 0;
            location.href = Routing.generate('atm_ot_index',{ 'initDate':'{{ initDate }}','endDate':'{{ endDate }}','sent':{{ sent }},'page':{{ page }}, 'onlyGifts': onlyGifts });
        });
    </script>
{% endblock atm_ot_javascripts %}