<div class="purchase_details">
    <div class="wide" style="border-bottom: 1px solid #000;box-sizing: border-box;">
        <h1>Destination Address</h1>
        <ul>
            {% if purchase.giftedTo %}
                {% set shippingAddress = ATMOrderTrackerGetUserShippingAddress(purchase.giftedTo.id) %}
                <li><span>Username: </span>{{ shippingAddress.user.username | title }}</li>
                <li><span>Address: </span>{{ shippingAddress.address }}</li>
                <li><span>Real name: </span>{{ shippingAddress.first_name | title }} {{ shippingAddress.last_name }}</li>
                <li><span>City: </span>{{ shippingAddress.city }}</li>
                <li><span>Email: </span>{{ shippingAddress.email }}</li>
                <li><span>Zip Code: </span>{{ shippingAddress.zipCode }}</li>
                <li><span>Phone Number: </span>{{ shippingAddress.phone }}</li>
                {% if shippingAddress.state %}
                    <li><span>State: </span>{{ shippingAddress.state }}</li>
                {% endif %}
                {% if shippingAddress.country %}
                    <li style="width: 50%;float: right;"><span>Country: </span>{{ shippingAddress.country.name }}</li>
                {% endif %}
            {% else %}
                <li><span>Username: </span>{{ purchase.user.username | title }}</li>
                <li><span>Address: </span>{{ purchase.address }}</li>
                <li><span>Real name: </span>{{ purchase.first_name | title }} {{ purchase.last_name }}</li>
                <li><span>City: </span>{{ purchase.city }}</li>
                <li><span>Email: </span>{{ purchase.email }}</li>
                <li><span>Zip Code: </span>{{ purchase.zipCode }}</li>
                <li><span>Phone Number: </span>{{ purchase.phoneNumber }}</li>
                {% if purchase.state %}
                    <li><span>State: </span>{{ purchase.state }}</li>
                {% endif %}
                {% if purchase.country %}
                <li style="width: 50%;float: right;"><span>Country: </span>{{ purchase.country.name }}</li>
                {% endif %}
            {% endif %}
        </ul>
        <div class="clear"></div>
    </div>
    <div class="wide product_list_details">
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th style="text-align: center;">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in purchase.purchasedProductSizes %}
                    <tr>
                        <td>
                            {{ product.productName }} {{ product.size is not null ? (' <span style="font-weight:normal">size:</span> '~ product.size.name) | raw }}
                        </td>
                        <td style="text-align: center;">
                            {{ product.price > 0 ? product.price | number_format ~ ' points'  : product.tokens | number_format ~ ' tokens'  }}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="total_label">Total:</td>
                    {% if purchase.giftedTo %}
                        <td class="total_price">{{ purchase.total | number_format ~ ' tokens' }}</td>
                    {% else %}
                        <td class="total_price">{{ purchase.total | number_format ~ ' points' }}</td>
                    {% endif %}

                </tr>
            </tbody>
        </table>
    </div>
    <div class="clear"></div>
    <div class="wide">
        <a class="but red" style="display: inline-block;margin: 20px auto;float: none;" onclick="$('#popPurchaseDetails').modal('hide')">Close</a>
    </div>
</div>