{% extends 'ATMOrderTrackerBundle:Admin:base.html.twig'%}


{% block atm_ot_content %}
    {% include 'ATMOrderTrackerBundle:Admin:filters.html.twig' with {
        'initDateTokens':initDateTokens,
        'endDateTokens':endDateTokens,
        'yearsFilter':yearsFilter,
        'initPeriod':initPeriod,
        'endPeriod':endPeriod,
        'sent' : 0,
        'userId' : null,
        'onlyGifts': 0
    } %}
    <div class="wide" style="display:block">
        <div class="stats">
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Creation date</th>
                        <th>Approved</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for shipping_address in shipping_addresses %}
                <tr>
                    <td>
                        {{ shipping_address.user.title ? shipping_address.user.title : shipping_address.user.username }}
                    </td>
                    <td>
                        {{ shipping_address.creationDate | date('d-m-Y') }}
                    </td>
                    <td>
                        {{ shipping_address.approved ? '<i class="fa fa-check" style="color: #00ff08;font-size: 20px;"></i>' : '<i class="fa fa-times" style="color:#ea0000;font-size: 20px;"></i>' }}
                    </td>
                    <td>
                        <a href="{{ path('atm_ot_edit_shipping_address',{ 'shippingAddressId':shipping_address.id }) }}" style="font-size: 20px;display: inline-block;margin-right: 10px;"><i class="fa fa-edit"></i></a>
                        <a href="{{ path('atm_ot_delete_shipping_address',{ 'shippingAddressId':shipping_address.id }) }}" style="font-size: 20px;display: inline-block"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}