<div class="product" data-id="{{ product.id }}" style="min-height: 500px !important;margin:0px;border:5px solid #fff;background-color: #fff">
    <a href="{{ path('atm_ot_product_delete',{ 'productId':product.id }) }}" class="delete_product" title="Delete Product"><i class="fa fa-times-circle"></i></a>
    <a href="{{ path('atm_ot_edit_product',{ 'productId':product.id }) }}" class="edit_product" title="Edit Product"><i class="fa fa-pencil-square"></i></a>
    <a href="{{ path('atm_ot_stock',{ 'productId':product.id }) }}" class="stock" title="Set Stock"><i class="fa fa-bar-chart"></i></a>
    {% set mainImageShown = false  %}
    {% for image in product.images %}
        {% if image.isMain and not mainImageShown %}
            {% set mainImageShown = true %}
            <img src="{{ getCDNResource({ 'media_path': asset(image.path)}) }}" style="width: 100%;" class="mainImage first">
        {% endif %}
    {% endfor %}
    <div class="data">
        <span class="product_name"><em>Name: </em>{{ product.name }}</span><br>
        <span class="product_price"><em>Price: </em>{{ product.price }}</span><br>
        <span class="product_price"><em>Tokens: </em>{{ product.tokens }}</span><br>
        <span class="product_date">
            <em>From: </em>
            {{ product.init_date | date('d/m/Y') }}
            <br>
            <em>To: </em>{{ product.end_date | date('d/m/Y') }}
        </span>
        {% if ATMOrderTrackerCheckStock(product) %}
            <span class="product_name"><em>Out of stock</em></span>
        {% endif %}
    </div>
</div>