
@font-face {
    font-family: 'Quicksand';
    src: url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Regular.woff') format('woff'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Regular.ttf')  format('truetype'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandMedium';
    src: url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Medium.eot?#iefix') format('embedded-opentype'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Medium.woff') format('woff'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Medium.ttf')  format('truetype'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Medium.svg#Quicksand-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Light.woff') format('woff'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Light.ttf')  format('truetype'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Light.svg#Quicksand-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandBold';
    src: url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Bold.woff') format('woff'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Bold.ttf')  format('truetype'),
    url('/bundles/atmordertracker/fonts/Quicksand/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
