<table style="width:100%">
    <thead>
    <tr>
        <th style="font-weight: bold;padding-bottom:15px;text-align: center">
            Date
        </th>
        <th style="font-weight: bold;padding-bottom:15px;text-align: center">
            User
        </th>
        <th style="font-weight: bold;padding-bottom:15px;text-align: center">
            Gallery
        </th>
        <th style="font-weight: bold;padding-bottom:15px;text-align: center">
            Points
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for point in points %}
        <tr>
            <td style="width: 10%">
                {{ point.creation_date | date('d-m-Y') }}
            </td>
            <td class="user">
                <div style="width:100%">
                    <a style="float:none">
                        {{ point.media[config['user_field_name']].username}}
                    </a>
                </div>
            </td>
            <td class="user">
                <a  style="float:none;display: inline-block;width:100%;text-align:center;">
                    {{ point.media.title }}
                </a>
            </td>
            <td>
                {{ point.points }}
            </td>
            <td>
                <a class="deletePoints" data-id="{{ point.id }}">
                    <i class="fa fa-trash" style="font-size: 20px;"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if pagination %}
    <div class="navigation" style="margin-bottom: 20px;">
        {{ knp_pagination_render(pagination,'ATMOrderTrackerBundle:Points:pagination.html.twig') }}
    </div>
{% endif %}