{% extends 'ATMOrderTrackerBundle:Admin:base.html.twig' %}

{% block atm_ot_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmordertracker/css/jquery-ui.css') }}">
{% endblock atm_ot_stylesheets %}

{% block atm_ot_menu %}{% endblock atm_ot_menu %}

{% block atm_ot_content %}
<div class="inner">
    <div class="wide">
        <div class="selectC">
            <select id="slcUsers" style="border: 1px solid #e2e2e2;float:left;padding: 5px;" onchange="location.href = Routing.generate('atm_ot_points_index',{ 'userId':$(this).val() })">
                <option value="--">Select a user</option>
                {% for user in users %}
                    <option value="{{ user.id }}" {{ userId == user.id ? 'selected' }}>{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <a id="btnAddPoints" class="but blue">
            <i class="fa fa-plus"></i>
            Add Points
        </a>
        <div class="stats sales">
            <h2 class="block_title" style="margin: 20px 0 0 0;">
                <span>Gallery Points</span>
            </h2>
            <div  id="galleryPointsContainer">
                {{ render(controller('ATMOrderTrackerBundle:Points:imagesTable',{
                    'page' : 1,
                    'userId' : userId != '--' ? userId : null
                })) }}
            </div>
        </div>
        <div class="stats sales">
            <h2 class="block_title" style="margin: 20px 0 0 0;">
                <span>Video Points</span>
            </h2>
            <div id="videoPointsContainer">
                {{ render(controller('ATMOrderTrackerBundle:Points:videosTable',{
                    'page' : 1,
                    'userId' : userId != '--' ? userId : null
                })) }}
            </div>
        </div>
    </div>
</div>
{% endblock atm_ot_content %}

{% block atm_ot_popups %}
    <div class="modal fade" id="popupAddPoints" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="font-weight: bold;">Add Points</h1>
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </a>
                </div>
                <div class="modal-body" id="purchase_details_container">
                    <form action="{{ path('atm_ot_points_submit_add_points') }}" method="post">
                        <div class="selectC">
                            <select id="slcUsersPopup" name="userId">
                                <option value="">Select a user</option>
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br><br>
                        <div class="selectC">
                            <select id="slcGalleries" name="galleryId">
                                <option value="--">Select a gallery</option>
                            </select>
                        </div>
                        <br>
                        <span>OR</span>
                        <br>
                        <div class="selectC">
                            <select id="slcVideos" name="videoId">
                                <option value="--">Select a video</option>
                            </select>
                        </div>
                        <div class="center">
                            <input type="text" id="points" name="points" placeholder="Points to add" autocomplete="off"/>
                        </div>
                        <div class="center">
                            <input type="text" id="date" name="date" placeholder="Put a date"  autocomplete="off"/>
                        </div>
                        <div class="center">
                            <input class="but blue" type="submit" name="submit" value="Submit" id="bntSubmitPoints">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock atm_ot_popups %}

{% block atm_ot_javascripts %}
    <script src="{{ asset('bundles/atmordertracker/plugins/bootstrap/modal/modal.js') }}"></script>
    <script src="{{ asset('bundles/atmordertracker/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('bundles/atmordertracker/js/jquery-ui.min.1121.js') }}"></script>
    <script>
        $("#date").datepicker({
            dateFormat: 'dd-mm-yy'
        });

        $('#btnAddPoints').click(function(){
            $('#popupAddPoints').modal('show');
        });

        $('#slcUsersPopup').change(function(){
            var userId = $(this).val();

            $.ajax({
                url: Routing.generate('atm_ot_points_get_user_media',{ 'userId': userId}),
                type: 'post',
                dataType: 'json',
                success: function(data){
                    $('#slcGalleries').html(data.galleries);
                    $('#slcVideos').html(data.videos);
                }
            });
        });

        $('#slcGalleries').change(function(){
            var value = $(this).val();

            if(value != ''){
                $('#slcVideos').val('--');
            }
        });

        $('#slcVideos').change(function(){
            var value = $(this).val();

            if(value != ''){
                $('#slcGalleries').val('--');
            }
        });

        $('#galleryPointsContainer').on('click','.pageBtn',function(){
            var userId = $('#slcUsers').val()
            var page = $(this).attr('data-page');

            $.ajax({
                url: Routing.generate('atm_ot_points_images_table',{ 'userId':userId,'page':page }),
                type: 'post',
                success: function(data){
                    $('#galleryPointsContainer').html(data);
                }
            });
        });

        $('#videoPointsContainer').on('click','.pageBtn',function(){
            var userId = $('#slcUsers').val()
            var page = $(this).attr('data-page');

            $.ajax({
                url: Routing.generate('atm_ot_points_videos_table',{ 'userId':userId,'page':page }),
                type: 'post',
                success: function(data){
                    $('#videoPointsContainer').html(data);
                }
            });
        });

        $('#videoPointsContainer,#galleryPointsContainer').on('click','.deletePoints',function(){
            var btn = $(this);
            var pointId = btn.attr('data-id');

            $.ajax({
                url: Routing.generate('atm_ot_delete_points',{'pointsId':pointId}),
                type: 'post',
                success: function(data){
                    btn.parent().parent().remove();
                }
            });
        });
    </script>
{% endblock atm_ot_javascripts %}