<div class="product" id="product_{{ product.id }}" data-product-id="{{ product.id }}">
    {% for image in product.images %}
        {% if image.isMain %}
            <img src="{{ asset(image.path) }}">
        {% endif %}
    {% endfor %}
    <div class="data">
        <span class="product_name">{{ product.name }}</span>
        <span class="product_price">{{ product.price }}</span>
        {% if product.sizes %}
        <div class="sizes">
            <h4>Sizes:</h4>
            {% set stockSize = false %}
            {% for size in product.sizes %}
                {% set stockAmount = 0 %}
                {% for stock in product.stocks %}
                    {% if stock.size.id == size.id %}
                        {% set stockAmount = stock.stock %}
                    {% endfor %}
                {% endfor %}
                {% if stockAmount > 0 %}
                <label>
                    <input type="radio" name="size_{{ product.id }}" class="size" data-id="{{ size.id }}" value="{{ size.name | upper }}" data-label="{{ size.name | upper }}">{{ size.name | upper }}
                </label>
                {% endif %}
            {% endfor %}
            <div class="clear"></div>
        </div>
        {% endif %}

        {% if points >= minimum_points %}
            <a class="but blue btn_selproduct" data-product-id="{{ product.id }}">Purchase</a>
        {% else %}
            <a class="but blue prod_disabled">You need at least {{ minimum_points }} points</a>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>